
/*-------------------------------------------agenda intro-----------------------------------------------------*/

.AgendaIntro {
    background-color: #EDECD8;
    color: black;
    font-size: 1em;
    height: 12em;
    width: 100%;
    text-align: center;
    line-height: 2em;
    margin-top: 4%;
    padding: 0;
    border-top-style: solid;
    border-color: #F8473E;
}
.AgendaHeader {
    font-weight: bold;
    margin-left: 6em;
    margin-right: 6em;
}

.AgendaIntroText {
    font-size: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
}


/*-------------------------------------------OrderList-----------------------------------------------------*/

.AgendaOrders {
    background-color: #EDECD8;
    color: black;
    font-size: 1em;
    min-height: 10em;
    width: 100%;
    text-align: center;
    line-height: 2em;
    margin-top: 2%;
    padding: 0;
    border-top-style: solid;
    border-color: #F8473E;
    display: inline-block;
}

.AgendaOrderList{
    margin-top: 3em;
    margin-left: 7em;
    margin-right: 6em;
    list-style-type: none;
    
}

.OrderHeader {
    color: firebrick;
   
}

.AgendaOrder {
    margin-top: 3px;
    color: green;
    
}

.orderItem {
    border-bottom: solid;
    border-width: thin;
}
/*-------------------------------------------agenda-----------------------------------------------------*/
.Agenda {
    margin-top: 4%;
    width: 100%;
    height: 35em;
    border-top-style: solid;
    border-color: #F8473E;
    
}

.AgendaKop{
    width: 98%;
    height: 12%;
    margin: 1% 1% 0 1%;
    background-color: #F8473E;
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-weight: 400;
  
    
    
}

.AgendaKopHeader {
    font-weight: bold;
    margin: 0;
    padding: 0.4em 0 0 0;
}


.AgendaDagen {
    width: calc(98% / 8);
    height: 85%;
    margin: 0 0 0 1%;
    background-color: #F8473E;
    float: left;
    border-radius: 0 0 0 20px;
}

.Dag1 {
    
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 6em 0 0 25%;
    max-width: 60%;
}

.Dagen{
    
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 2.8em 0 0 25%;
    max-width: 60%;
}

.AgendaRaster{
    
    width: calc(98% / 8 * 7);
    height: 85%;
    background-color: darkblue;
    margin: 0 1% 1% 0;
    float: left;
    border-radius: 0 0 20px 0;
    position: relative;
}

.AgendaFoto{
    width: 100%;
    height: 100%;
    border-radius: 0 0 20px 0;
    position: relative;
}

.AgendaItem {
    position: absolute;
    height: 18%;
    /*width: 7.6%;*/
    background-color: #EDECD8;
    margin: 0 0 0 0;
    padding: 0;
    border-style: solid;
    border-color: #F8473E;
    border-width: thin;
    border-radius: 5px;
}

.AgendaItemEvent {
    font-size: small;
    margin: 0;
    padding: 0;
    
}

.AgendaItemAantal {
    font-size: small;
    margin: 0 0 0.6em 0;
    padding: 0;
    

}

.AgendaItemName {
    font-size: small;
    margin: 0;
    padding: 0;
    text-align: center;
    
}