
/*-------------------------------------------agenda intro-----------------------------------------------------*/

.AgendaIntro {
    color: black;
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-top: 4%;
    padding: 0;
}

.AgendaIntroText {
    font-size: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
}

.btn_cta{
    margin: 0;
    background-color: #1DBF3B;
    border-color: #1DBF3B;
    color: white;
    font-size: 16px;
    padding: 3px 14px;
    border-radius: 4px;
    border-style: solid;
}

    .btn_cta:hover {
        text-decoration: underline;
    }

/*-------------------------------------------OrderList-----------------------------------------------------*/

.AgendaOrders {
    color: black;
    font-size: 1em;
    min-height: 10em;
    width: 100%;
    text-align: center;
    line-height: 2em;
    margin-top: 2%;
    padding: 0;
    display: inline-block;
}

.AgendaOrderList{
    margin-top: 3em;
    margin-left: 7em;
    margin-right: 6em;
    list-style-type: none;
    
}

.itemHeader{
    border-bottom: 1px solid black;
    padding-bottom: 6px;
    font-weight: 600;
    color: red;
}

.AgendaOrder {
    margin-top: 3px;
    color: green;
    
}

.orderItem {
    border-bottom: solid;
    border-width: thin;
}

.totalPrice{
    width: 100%;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 8px;
}