/* ALGEMEEN GEDEELTE*/

.checkout_introduction h1 {
    text-align: center;
    padding-bottom: 20px;
}

.checkout_introduction p {
    margin: 0 20% 3% 20%;
    border-bottom: 1px black solid;
    text-align: center;
}
.CheckOut {
    position: center;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(237, 236, 216);
}

.CheckOut ul{
    list-style-type: none;
    padding: 0;
}

.CheckOutSteps {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-bottom: solid 2px;
}

.CheckOutSteps li {
    font-size: 16px;
    padding: 10px;
}

.CheckOutSteps text{
    font-weight: bold;
}

.AgendaOrderList{
    text-align: left;   
}

.orders-container{
    border-top: 2px solid black;
    background-color: white;
}

.orders-container label{
    margin: 25px 0px 20px 0px;
    font-size: 16px;
}

.AgendaOrder {
    margin-top: 3px;
    color: green;   
}

.orderItem {
    border-bottom: 0.5px solid green;

}

.itemHeader{
    border-bottom: 1px solid black;
    padding-bottom: 6px;
    font-weight: 600;
    color: red;
}

/*CheckOut1*/
.CheckOut1{
    border: none;
    width: 100%;
    display: flex;
    align-items:center;
    margin-bottom: 3em;
}

.p_class {
    margin: 20px 0;
}

.loginForm{
    width: 40%;
    float: left;    
    vertical-align: middle;
}

.loginForm .form-group{
    width: 100%;
    height: 25px;
    margin-left: 12px;

}

.middenstuk {
    float: left;
    width: 20%;
}

.middenstuk aside {
    border-left: 1px;
    height: 100px;
    border-left-style: solid;
    vertical-align: middle;
    margin: 0px 50%;
}

.CheckOutRegister {
    float: left;
    width: 40%;
    vertical-align: middle;
}

.selected {
    background-color: #F8473E;
    color: white;
}

.btn_cta{
    background-color: #1DBF3B;
    border-color: #1DBF3B;
    color: white;
    font-size: 14px;
    padding: 3px 14px;
    border-radius: 4px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 39%;
    margin-right: 50%;
}

.btn_cta:hover{
    text-decoration: underline;

}

.btn_default{
    background-color: white;
    border-color: white;
    color: black;
    font-size: 14px;
    padding: 3px 14px;
    border-radius: 4px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 41%;
    margin-right: 50%;
}

.btn_default:hover{
    text-decoration: underline;
}


/*------------------------------------------Checkout 2------------------------------------------------*/
.CheckOut2Content {
    display: block;
    width: 100%;
    height: 80%;
    min-height: 32em;
}

.LinkerColom {
    width: 25%;
    margin-left: 34em;
    text-align: left;
    height: 4em;
}

.RechterColom {
    width: 25%;
    margin-left: 34em;
    text-align: left;
    height: 4em;
}

#Password{
    
}

#ConfirmPassword {
    margin-bottom: 4em;
}

.CheckOut2Label {
    margin:0;
}

.CheckOut2TBox {
    float: left
}

#Step2ButttonStep1 {
    display: block;
    float: left;
    margin: 0;
    margin-left: 10em;
    min-width: 100px;
    background-color: #0094ff;
    color: white;
}

#Step2ButttonContinue {
    display: block;
    float: right;
    margin-right: 10em;
    min-width: 100px;
    background-color: #0094ff;
    color: white;
}


