/* ALGEMEEN GEDEELTE*/
.CheckOut {
    position: center;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

.CheckOut ul{
    list-style-type: none;
    padding: 0;
}


.CheckOutSteps {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.AgendaOrderList{
    text-align: left;   
}

.OrderHeader {
    color: firebrick;
   
}

.AgendaOrder {
    margin-top: 3px;
    color: green;   
}

.orderItem {
    border-bottom: solid;
    border-width: thin;
}

.itemHeader{
    border-bottom: 1px solid green;
}

/*CheckOut1*/
.CheckOut1{
    border: none;
    width: 100%;
    display: flex;
    align-items:center;
}
.loginForm{
    width: 40%;
    float: left;    
    background-color: red;
    vertical-align: middle;
}

.middenstuk {
    float: left;
    width: 20%;
    background-color: white;
}

.middenstuk aside {
    border-left: 1px;
    height: 100px;
    border-left-style: solid;
    margin-left: 22px;
    vertical-align: middle;
}

.CheckOutRegister {
    background-color: blue;
    float: left;
    width: 40%;
    vertical-align: middle;
}

.CheckOut1 p {
    margin-top: 20px;
}

.selected {
    background-color: #F8473E;
}


