html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    background-color: rgba(237, 236, 216, 0.9);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

nav {
    font-weight: bold;
}

.content {
    min-height: calc(100vh - 170px);
}

footer {
    background-color: #F8473E;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
}

    footer li {
        list-style: none;
        color: white;
        margin-right: 50px;
        width: 50px;
        font-weight: bold;
    }

    footer ul {
        display: inline-block;
        margin-left: 300px;
        padding: 0;
    }

    footer a {
        color: white;
    }

.footer-list-right {
    width: 400px;
    height: 150px;
    margin: 0 300px 0 0;
    float: right;
    text-align: right;
}

    .footer-list-right li {
        width: inherit;
    }
/*-------------------------------------------Home page---------------------------------------------*/
/*--------------Sumup events-----------------*/

.event_summarys {
    width: auto;
    height: 358px;
    padding-top: 8px;
    margin-bottom: 8px;
    margin-top: 15px;
}

.event_summary {
    width: 25%;
    float: left;
    padding: 0 8px 0 0;
    position: relative;
}

    .event_summary:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    .event_summary h1 {
        color: white;
        font-size: 26px;
        height: 50px;
        background-color: #F8473E;
        text-align: center;
        line-height: 50px;
        margin: 0;
    }

    .event_summary button {
        position: absolute;
        bottom: 1%;
        left: 37%;
        background-color: transparent;
        border: none;
        font-weight: bold;
        color: white;
    }

        .event_summary a {
        position: absolute;
        bottom: 1%;
        left: 37%;
        background-color: transparent;
        border: none;
        font-weight: bold;
        color: white;
    }

.event_summary_img {
    width: auto;
    text-align: center;
    height: 300px;
}

.wrapper {
    height: 470px;
    text-align: center;
}

    .wrapper h1 {
        font-size: 26px;
        font-weight: bold;
    }

.wrapper_left {
    float: left;
    width: 50%;
    height: inherit;
}



/*--------------Info section-----------------*/

.info_festival {
    float: initial;
    width: auto;
    height: 50%;
}

    .info_festival p {
        display: inline-block;
        width: 88%;
        text-align: center;
        font-size: 16px;
    }

/*--------------Register section-----------------*/
.register {
    float: left;
    width: 100%;
    height: 50%;
    font-size: 16px;
}

    .register p {
        display: inline-block;
        width: 88%;
        text-align: center;
        font-size: 16px;
    }


.btn_cta{
    background-color: #1DBF3B;
    border-color: #1DBF3B;
    color: white;
    font-size: 14px;
    padding: 3px 14px;
    border-radius: 4px;
    border-style: solid;
    margin-top: 10px;
    margin-left: 44%;
    margin-right: 50%;
}

.btn_cta:hover{
    text-decoration: underline;

}
.register_link_makeup {
    color: white;
}

/*--------------Highlights section-----------------*/
.event_highlights {
    float: left;
    width: 49%;
    margin: 0 0 0 4px;
}

.event_highlight {
    text-align: left;
    color: black;
    padding-left: 15px;
    font-size: 16px;
}

    .event_highlight h2 {
        font-size: 16px;
        font-weight: bold;
    }

.event_hl_link_makeup {
    color: black;
    width: 84px;
    height: 29px;
}

.event_highlight :hover {
    color: red;
}

/*-------------------------------------------Contact page---------------------------------------------*/

.contact_page_section {
    color: white;
}

.contact_header {
    color: #333;
}

.contact_info {
    float: left;
    background-color: #CC6666;
    padding: 20px;
    width: 18%;
}

.contact_section {
    background-color: #CC6666;
    padding: 0;
    margin-left: 25%;
    height: 300px;
    width: 75%;
}

.contact_form_header {
    background-color: #F6524A;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.contact_page_section form {
    padding: 10px;
    padding-top: 0;
}

.contact_info_header {
    margin-top: 0;
}

.contact_required_text {
    float: right;
}

.contact_page_section form {
    margin: 10px;
}

.contact_submit_btn {
    float: right;
    margin-top: 118px;
    width: 101px;
    height: 29px;
    background-color: #199ED8;
    border-style: hidden;
    border-radius: 6px;
}

.contact_name_label {
    padding-top: 20px;
    margin-right : 24px;
}

.contact_name_field {
    margin-left: 33px;
}

.contact_message_field {
    margin-left: 40px;
    width: 701px;
    max-width: 701px;
    height: 100px;
}

.contact_message_label {
    float: left;
}

/*--------------Historic Haarlem-----------------*/

.HistoricTitle {
    text-align: center;
}

.HistoricImageTop {
    border: solid;
    border-width: 1px;
    width: 180px;
    height: 125px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

.HistoricIntro {
    text-align: center;
}

#HistoricButtonOrder1 {
    position: relative;
    bottom: 141px;
    left: 450px;
    padding: 30px 10px 30px 10px;
    border-radius: 50%;
    background-color: limegreen;
    color: white;
    border-color: darkslateblue;
}

    #HistoricButtonOrder1:hover, #HistoricButtonOrder1:focus {
        background-color: lime;
    }

.HistoricRoute h2 {
    text-align: center;
}

.HistoricRoute p {
    display: inline-block;
    width: 568px;
}

.HistoricRoute hr {
    margin-top: 20px;
    margin-bottom: 0;
    border-top: 1px solid #000000;
}

.HistoricImageRoute {
    width: 770px;
    height: 390px;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    float: left;
    margin-bottom: 5px;
}

.HistoricImageDropMarker1 {
    width: 13px;
    position: relative;
    top: 152px;
    right: 405px;
}

.HistoricImageDropMarker2 {
    width: 13px;
    position: relative;
    top: 136px;
    right: 458px;
}

.HistoricImageDropMarker3 {
    width: 13px;
    position: relative;
    top: 149px;
    right: 484px;
}

.HistoricImageDropMarker4 {
    width: 13px;
    position: relative;
    top: 361px;
    right: 667px;
}

.HistoricImageDropMarker5 {
    width: 13px;
    position: relative;
    top: 142px;
    right: 741px;
}

.HistoricImageDropMarker6 {
    width: 13px;
    position: relative;
    top: 69px;
    right: 422px;
}

.HistoricImageDropMarker7 {
    width: 13px;
    position: relative;
    bottom: 8px;
    right: 315px;
}

.HistoricImageDropMarker8 {
    width: 13px;
    position: relative;
    top: 178px;
    right: 201px;
}

.HistoricImageDropMarker9 {
    width: 13px;
    position: relative;
    top: 121px;
    right: 453px;
}

.HistoricImageDropMarker10 {
    width: 25px;
    position: relative;
    left: 180px;
}

.DropMarkerGuide {
    margin-left: 15px;
    margin-top: 135px;
}

#HistoricButtonOrder2 {
    position: relative;
    bottom: 25px;
    left: 778px;
}

section.HistoricRouteInfo {
    width: 300px;
    float: left;
}

.HistoricRouteInfo1 {
    display: none;
    width: 300px;
    float: left;
    margin-left: 5px;
}

.HistoricRouteInfo2 {
    display: none;
    float: left;
    width: 300px;
    margin-left: 5px;
}

.HistoricRouteInfo3 {
    display: none;
    float: left;
    width: 300px;
    margin-left: 5px;
}

.HistoricRouteInfo4 {
    display: none;
    float: left;
    width: 300px;
    margin-left: 5px;
}

.HistoricRouteInfo5 {
    display: none;
    float: left;
    width: 300px;
    margin-left: 5px;
}

.HistoricRouteInfo6 {
    display: none;
    float: left;
    width: 300px;
    margin-left: 5px;
}

.HistoricRouteInfo7 {
    display: none;
    float: left;
    width: 300px;
    margin-left: 5px;
}

.HistoricRouteInfo8 {
    display: none;
    float: left;
    width: 300px;
    margin-left: 5px;
}

.HistoricRouteInfo9 {
    display: none;
    float: left;
    width: 300px;
    margin-left: 5px;
}

p.HistoricRouteInfo1 {
    width: 100%;
}

p.HistoricRouteInfo2 {
    width: 100%;
}

p.HistoricRouteInfo3 {
    width: 100%;
}

p.HistoricRouteInfo4 {
    width: 100%;
}

p.HistoricRouteInfo5 {
    width: 100%;
}

p.HistoricRouteInfo6 {
    width: 100%;
}

p.HistoricRouteInfo7 {
    width: 100%;
}

p.HistoricRouteInfo8 {
    width: 100%;
}

p.HistoricRouteInfo9 {
    width: 100%;
}

img.HistoricRouteInfo1 {
    width: 100%;
}

img.HistoricRouteInfo2 {
    width: 100%;
}

img.HistoricRouteInfo3 {
    width: 100%;
}

img.HistoricRouteInfo4 {
    width: 100%;
}

img.HistoricRouteInfo5 {
    width: 100%;
}

img.HistoricRouteInfo6 {
    width: 69%;
    height: 259px;
}

img.HistoricRouteInfo7 {
    width: 100%;
}

img.HistoricRouteInfo8 {
    width: 100%;
}

img.HistoricRouteInfo9 {
    width: 93%;
}

#HistoricButtonOrder2 {
    position: relative;
    top: 372px;
    left: 140px;
    background-color: limegreen;
    color: white;
    border-color: darkslateblue;
    font-size: 15px;
}

/* The Modal (background) */
.modalHistoric {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-contentHistoric {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 32%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeHistoric {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .closeHistoric:hover,
    .closeHistoric:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

#numberTicketsHistoric {
    width: 200px;
}

#SingleTicketHistoric {
    float: right;
    border-style: solid;
    margin-right: 2px;
    padding-bottom: 40px;
}

#GroupTicketHistoric {
    float: right;
    border-style: solid;
    padding-left: 3px;
}

#ValueHistoric{
    color: red;
}

#ordertxt{
    display: none;
}
/*-------------------------------JAZZ---------------------------------*/
.jazz_page_inhoud{
    margin-top : 15px;
}

.jazz_page_activiteit_section{
    margin-bottom : 15px;
    padding-top : 20px;
}

.jazz_page_info_box {
    margin-top: 40px;
}

.jazz_page_info_hp {
    width: 100%;
}

.jazz_page_info_h {
    text-align: center;
    padding-top: 25px;
}

.jazz_page_info_line {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    border-style: inset;
    border-width: 1px;
    border-bottom-color: black;
}

.jazz_page_info_p {
    padding: 0 20%;
}

.jazz_page_info_locatiepatronaat {
    float: left;
    margin-left: 20%;
}

.jazz_page_info_locatiepatronaat_h, .jazz_page_info_locatiegrotemarkt_h {
    font-weight: bold;
}

.jazz_page_info_locatiegrotemarkt {
    display: inline-block;
    margin-left: 20%;
}

.jazz_page_program_days {
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-top: 2%;
    padding: 15px 0;
    border-color: #F8473E;
}

.jazz_page_program_days_header {
    float: left;
    margin: 0;
    margin-right: 6%;
    margin-left: 5%;
    padding: 3px 0;
}

.jazz_page_program_thursday {
    margin-right: 4%;
}

.jazz_page_program_thursday_active {
    margin-right: 4%;
    background-color: #F8473E;
    color: white;
    opacity: 0.5;
}

.jazz_page_program_friday {
    margin-right: 4%;
}

.jazz_page_program_friday_active {
    margin-right: 4%;
    background-color: #F8473E;
    color: white;
    opacity: 0.5;
}

.jazz_page_program_saturday {
    margin-right: 4%;
}

.jazz_page_program_saturday_active {
    margin-right: 4%;
    background-color: #F8473E;
    color: white;
    opacity: 0.5;
}

.jazz_page_program_sunday {
    margin-right: 4%;
}

.jazz_page_program_sunday_active {
    margin-right: 4%;
    background-color: #F8473E;
    color: white;
    opacity : 0.5;
}

.jazz_page_program_passpartout {
    float: right;
    margin-right : 3%;
}

.jazz_page_imgsection {
    float: left;
}

.jazz_page_actinfosection {
    margin-left: 30%;
    margin-bottom: 8%;
}

.jazz_page_actinfosection_line {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    border-style: inset;
    border-width: 1px;
    border-bottom-color: black;
}

.jazz_pagina_header{
    padding-left : 30px;
}

.jazz_activity_btns {
    padding-left: 50px;
    padding-top: 10px;
    border-right-style: solid;
    border-right-color: #F8473E;
    border-right-width: 2px;
}

.jazz_activity_extra {
    border-left-style: solid;
    border-left-color: #F8473E;
    border-left-width: 2px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 22%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;

}

.infomodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.infomodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

/* The Close Button */
.infomodalclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .infomodalclose:hover, .infomodalclose:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }



/* The Modal (background) */
.passPartoutModalClass {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.passPartoutModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 27%;
}

/* The Close Button */
.passPartoutModalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.passPartoutModalClose:hover, .passPartoutModalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.jazz_btn_passpartout{
    width : 350px;
    margin-left : 17%;
}

/* The Modal (background) */
.aantalModalClass1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.aantalModal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 26%;
}

/* The Close Button */
.aantalModalClose1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .aantalModalClose1:hover, .aantalModalClose1:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


.sugestionactivities {
    position: relative;
    text-align: center;
    color: white;
    margin-top : 20px;
    max-width : 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 263px;
    opacity: 0;
    background-color: black;
}

.sugestionactivities:hover .overlay {
    opacity: 0.5;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 263px;
    opacity: 0;
    background-color: black;
}

.sugestionactivities:hover .overlay2 {
    opacity: 0.5;
}

.overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 263px;
    opacity: 0;
    background-color: black;
}

.sugestionactivities:hover .overlay3 {
    opacity: 0.5;
}

.overlay4 {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 263px;
    opacity: 0;
    background-color: black;
}

.sugestionactivities:hover .overlay4 {
    opacity: 0.5;
}

.text {
    color: white;
    font-size: 18px;
    font-weight : 600;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.sugestiontitle {
    position: absolute;
    top: 0;
    width: 263px;
    background-color: #F8473E;
    font-weight: 600;
    font-size : 16px;
    height : 30px;
    padding-top : 4px;
}

.sugestiontext {
    position: absolute;
    bottom: 0;
    background-color: #F8473E;
    width: 263px;
    font-size : 12px;
    text-align : left;
    padding-left : 4px;
    padding-right : 4px;
}

.sugestionview {
    background-color: #F8473E;
    color: white;
}

.sugestionview h5 {
    font-weight: 600;
}

    .sugestionactivities h5 {
        text-align: center;
        font-weight: 600;
    }

.sugestioncentreimg {
    margin-left : 60px;
}

.jazz_page_header_text{
    font-weight : 600;
    text-align : center;
}

