html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    background-color: #EDECD8;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

nav {
    font-weight: bold;
}

footer {
    background-color: #F8473E;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
}

    footer li {
        list-style: none;
        color: white;
        margin-right: 50px;
        width: 50px;
        font-weight: bold;
    }

    footer ul {
        display: inline-block;
        margin-left: 300px;
        padding: 0px;
    }

    footer a {
        color: white;
    }

.footer-list-right {
    width: 400px;
    height: 150px;
    margin: 0px 300px 0px 0px;
    display: inline-block;
    float: right;
    text-align: right;
}

    .footer-list-right li {
        width: inherit;
    }
/*-------------------------------------------Home page---------------------------------------------*/
/*--------------Sumup events-----------------*/

.event_summarys {
    width: auto;
    height: 358px;
    padding-top: 8px;
    margin-bottom: 8px;
}

.event_summary {
    width: 25%;
    float: left;
    padding: 0px 8px 0px 0px;
    position: relative;
}

    .event_summary:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    .event_summary h1 {
        color: white;
        font-size: 26px;
        height: 50px;
        background-color: #F8473E;
        text-align: center;
        line-height: 50px;
        margin: 0px;
    }

    .event_summary button {
        position: absolute;
        bottom: 1%;
        left: 37%;
        background-color: transparent;
        border: none;
        font-weight: bold;
        color: white;
    }

.event_summary_img {
    width: auto;
    text-align: center;
    height: 300px;
}

.wrapper {
    height: 470px;
    text-align: center;
}

    .wrapper h1 {
        font-size: 26px;
        font-weight: bold;
    }

.wrapper_left {
    float: left;
    width: 50%;
    height: inherit;
    margin: 0px 4px 0px 0px;
}

    .wrapper_left h1 {
        margin-top: 0px;
    }


/*--------------Info section-----------------*/

.info_festival {
    float: initial;
    width: auto;
    height: 50%;
}

    .info_festival p {
        display: inline-block;
        width: 88%;
        text-align: center;
        font-size: 16px;
    }

/*--------------Register section-----------------*/
.register {
    float: left;
    width: 100%;
    height: 50%;
    font-size: 16px;
}

    .register p {
        display: inline-block;
        width: 88%;
        text-align: center;
        font-size: 16px;
    }


    .register button {
        display: block;
        margin: 0 auto;
        margin: 0px auto 10px auto;
        color: white;
        background-color: #1DBF3B;
        width: 100px;
        height: 35px;
    }

        .register button:hover {
            background-color: #137F28;
        }

.register_link_makeup {
    color: white;
}

/*--------------Highlights section-----------------*/
.event_highlights {
    float: left;
    width: 49%;
    margin: 0px 0px 0px 4px;
    height: inherit;
}

.event_highlight {
    text-align: left;
    color: black;
    padding-left: 15px;
    font-size: 16px;
}

    .event_highlight h2 {
        font-size: 16px;
        font-weight: bold;
    }

.event_hl_link_makeup {
    color: black;
    width: 84px;
    height: 29px;
}

.event_highlight :hover {
    color: red;
}
/*-------------------------------------------All restaurants page---------------------------------------------*/

.filter {
    background-color: antiquewhite;
}

    .filter h3 {
    }

    .filter ul {
    }

    .filter li {
    }

.row {
    background-color: purple;
}

.restaurant {
    float: left;
    background-color: azure;
    width: 24%;
    height: 26em;
    margin: 0px 8px 8px 0px;
}

.rating {
}

.restaurant_sum_description {
    background-color: gold;
    height: 7em;
}

    .restaurant_sum_description h4 {
        margin: 0px 0px 10px 0px;
        padding: 4px 0px 0px 4px;
        font-weight: bold;
    }

.restaurant_img {
    background-color: gold;
}

.btn_more_info {
}

.btn_booknow {
}
/*-------------------------------------------Restaurant detail page-------------------------------------------*/
.restaurant_information {
    background-color: blue;
    display: flex;
    width: 100%;
    height: 23em;
}

.left_box {
    background-color: green;
    width: 50%;
    height: 100%;
}

.right_box {
    background-color: mediumpurple;
    width: 50%;
    height: 100%;
}

.restaurant_description {
    background-color: white;
    width: 100%;
    height: 7em;
    text-align: center;
}

    .restaurant_description h2 {
        margin-top: 0px;
    }

    .restaurant_description p {
        width: 70%;
        margin: 0 auto;
    }

.restaurant_reservation_form {
    background-color: aqua;
    height: 36em;
    width: 60%;
    margin: 0 auto;
}

    .restaurant_reservation_form form {
        width: 50%;
        margin: 0 auto;
    }

    .restaurant_reservation_form h2 {
        margin-top: 0px;
        text-align: center;
    }

    .restaurant_reservation_form fieldset {
        margin-bottom: 10px;
    }

    .restaurant_reservation_form label {
        display: block;
    }

    .restaurant_reservation_form select {
        margin-left: 80px;
    }

    .restaurant_reservation_form textarea {
        width: 100%;
        height: 9em;
        margin-left: 80px;
    }

.restaurant_form_select_wide {
    width: 150px;
}

.restaurant_form_select_small {
}


.restaurant_reservation_form button {
    display: block;
    margin: 0px auto 10px auto;
    color: white;
    background-color: #1DBF3B;
    width: 100px;
    height: 35px;
    font-weight: bold;
}



/*-------------------------------------------Contact page---------------------------------------------*/

.contact_page_section {
    color: white;
}

.contact_info {
    float: left;
    background-color: #CC6666;
    padding: 20px;
    width: 18%;
}

.contact_section {
    background-color: #CC6666;
    padding: 0px;
    margin-left: 25%;
    height: 300px;
    width: 75%;
}

.contact_form_header {
    background-color: #F6524A;
    margin: 0px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.contact_page_section form {
    padding: 10px;
    padding-top: 0px;
}

.contact_info_header {
    margin-top: 0px;
}

.contact_required_text {
    float: right;
}

.contact_page_section form {
    margin: 10px;
}

.contact_submit_btn {
    float: right;
    margin-top: 118px;
    width: 101px;
    height: 29px;
    background-color: #199ED8;
    border-style: hidden;
    border-radius: 6px;
}

.contact_name_label {
    padding-top: 20px;
}

.contact_name_field {
    margin-left: 33px;
}

.contact_message_field {
    margin-left: 40px;
    width: 701px;
    max-width: 701px;
    height: 100px;
}

.contact_message_label {
    float: left;
}

/*--------------Check-Out-----------------*/

.CheckOut1 {
    position: center;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    margin-top: 10%;
    padding-bottom: 10%;
}


    .CheckOut1 ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-bottom-style: solid;
    }

    .CheckOut1 li {
        float: left;
        padding-left: 9%;
        padding-right: 9.8672%;
    }

    .CheckOut1 h2 {
        position: center;
        padding: 0;
        margin: 0;
    }

    .CheckOut1 aside {
        border-left: 1px;
        height: 100px;
        border-left-style: solid;
        margin-left: 22px;
    }

    .CheckOut1 p {
        margin-top: 20px;
    }

.selected {
    background-color: #F8473E;
}

.CheckOutLogin {
    display: inline-block;
    margin-right: 10%;
}

.CheckOutRegister {
    display: inline-block;
    margin-left: 10%;
}

.middenstuk {
    display: inline-block;
}

/*--------------Historic Haarlem-----------------*/

.HistoricTitle {
    text-align: center;
}

.HistoricImageTop {
    display: inline-block;
    border: solid;
    border-width: 1px;
    width: 180px;
    height: 125px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

.HistoricIntro {
    text-align: center;
}

    .HistoricIntro button {
        position: absolute;
        top: 210px;
        right: 420px;
    }

.HistoricRoute h2 {
    text-align: center;
    display: inline;
    margin-left: 412px;
}

.HistoricRoute p {
    display: inline-block;
    width: 568px;
}

.HistoricRoute hr {
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 1px solid #000000;
}

.HistoricImageRoute {
    width: 770px;
    height: 390px;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
}
img.HistoricImageDropMarker1 {
    width: 13px;
    position: relative;
    bottom: 32px;
    right: 409px;
}

img.HistoricImageDropMarker2 {
    width: 13px;
    position: relative;
    bottom: 47px;
    right: 461px;
}

img.HistoricImageDropMarker3 {
    width: 13px;
    position: relative;
    bottom: 34px;
    right: 487px;
}

img.HistoricImageDropMarker4 {
    width: 13px;
    position: relative;
    bottom: -178px;
    right: 670px;
}

img.HistoricImageDropMarker5 {
    width: 13px;
    position: relative;
    bottom: 41px;
    right: 744px;
}

img.HistoricImageDropMarker6 {
    width: 13px;
    position: relative;
    bottom: 115px;
    right: 426px;
}

img.HistoricImageDropMarker7 {
    width: 13px;
    position: relative;
    bottom: 191px;
    right: 319px;
}

img.HistoricImageDropMarker8 {
    width: 13px;
    position: relative;
    bottom: 5px;
    right: 205px;
}

img.HistoricImageDropMarker9 {
    width: 13px;
    position: relative;
    bottom: 62px;
    right: 458px;
}

img.HistoricImageDropMarker10 {
    width: 25px;
    position: relative;
    top: 10px;
    right: -3px;
}

p.DropMarkerGuide {
    width: 200px;
    position: relative;
    right: 67px;
}

button.TalkingButtonBook2 {
    position: relative;
    bottom: 25px;
    left: 778px;
}

section.HistoricRouteInfo {
    width: 200px;
    float: right;
    margin-top: 150px;
}

.HistoricRouteInfo1 {
    display: none;
}

section.HistoricRouteInfo1 {
    width: 200px;
    float: right;
    margin-top: 150px;
    display: none;
}

p.HistoricRouteInfo1{
    display: none;
}

img.HistoricRouteInfo1{
    display: none;
    width: 100px;
}

/*--------------------------------------------------Talking-Haarlem---------------------------------------------------------*/

.TalkingIntro {
    background-color: #EDECD8;
    color: black;
    font-size: 1em;
    height: 20em;
    width: 100%;
    text-align: center;
    line-height: 2em;
    margin-top: 4%;
    padding: 0px;
    border-top-style: solid;
    border-color: #F8473E;
}

.TalkingHeader {
    font-weight: bold;
}

.TalkingIntroText {
    font-size: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0px;
}

.TalkingEvent {
    /* background-color: blue;*/
    width: 100%;
    height: 60em;
    margin-bottom: 10em;
    border-top-style: solid;
    border-color: #F8473E;
}

.TalkingDag {
    background-color: red;
    width: 15em;
    height: 14em;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 4%;
}

.TalkingDagHeader {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 0px;
    font-size: 2em;
    font-weight: bold;
}

.TalkingSpreker {
    /* background-color: yellow; */
    width: 100%;
    height: 24em;
    margin-top: 1%;
    margin-bottom: 1em;
}

.TalkingSprekerImgContainer {
    background-color: purple;
    width: 20%;
    height: 18em;
    margin-top: 4%;
    margin-right: 3%;
    margin-bottom: 2%;
    float: left;
}

.TalkingSprekerImg {
    width: 100%;
    height: 100%;
}

.TalkingSprekerUitleg {
    width: 50%;
    height: 20em;
    margin-top: 4%;
    margin-right: 10%;
    margin-bottom: 2%;
    float: left;
}

.TalkingSprekerHeader {
    font-weight: bold;
}

.TalkingSprekerText {
    font-size: 1.5em;
}

.TalkingButtonSpreker {
    font-size: 1.8em;
    margin-top: 13%;
    margin-bottom: 15%;
    margin-left: 0;
    float: left;
    background-color: #199ED8;
    border-radius: 15px, 15px;
}

.TalkingSpreker2 {
    /* background-color: yellow; */
    width: 100%;
    height: 25em;
    margin-top: 1%;
    margin-bottom: 1em;
}

.TalkingSprekerImg2Container {
    width: 20%;
    height: 18em;
    background-color: purple;
    margin-top: 1%;
    margin-right: 3%;
    margin-bottom: 2%;
    float: left;
}

.TalkingSprekerImg2{
    width: 100%;
    height: 100%;
}

.TalkingSprekerUitleg2 {
    width: 50%;
    height: 20em;
    margin-top: 0%;
    margin-right: 10%;
    margin-bottom: 2%;
    float: left;
}

.TalkingSprekerHeader2 {
    font-weight: bold;
}

.TalkingSprekerText2 {
    font-size: 1.5em;
}

.TalkingButtonSpreker2 {
    font-size: 1.8em;
    margin-top: 9%;
    margin-bottom: 10%;
    margin-left: 0;
    float: left;
    background-color: #199ED8;
    border-radius: 15px, 15px;
}

.TalkingButtonBook {
    font-size: 1.8em;
    margin: 0%;
    margin-right: 2.4%;
    float: right;
    background-color: #1DBF3B;
    border-radius: 15px, 15px;
}

/*-------------------------------JAZZ---------------------------------*/
.jazz_page_info_hp {
    width: 100%;
}

.jazz_page_info_h {
    text-align: center;
    padding-top: 25px;
}

.jazz_page_info_line {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    border-style: inset;
    border-width: 1px;
    border-bottom-color: black;
}

.jazz_page_info_p {
    padding: 0px 20%;
}

.jazz_page_info_locatiepatronaat {
    float: left;
    margin-left: 20%;
}

.jazz_page_info_locatiepatronaat_h, .jazz_page_info_locatiegrotemarkt_h {
    font-weight: bold;
}

.jazz_page_info_locatiegrotemarkt {
    display: inline-block;
    margin-left: 20%;
}

.jazz_page_program_days {
    border-width: 1px;
    border-top-style: inset;
    border-bottom-style: inset;
    border-top-color: black;
    border-bottom-color: black;
    margin-top: 3%;
    padding: 15px 0px;
}

.jazz_page_program_days_header {
    float: left;
    margin: 0px;
    margin-right: 6%;
    margin-left: 5%;
    padding: 10px 0px;
}

.jazz_page_program_thursday {
    margin-right: 4%;
}

.jazz_page_program_friday {
    margin-right: 4%;
}

.jazz_page_program_saturday {
    margin-right: 4%;
}

.jazz_page_program_sunday {
    margin-right: 4%;
}

.jazz_page_program_passpartout {
    float: right;
    margin-top: 10px;
}

.jazz_page_imgsection {
    float: left;
}

.jazz_page_actinfosection {
    margin-left: 30%;
    margin-bottom: 8%;
}

.jazz_page_actinfosection_line {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    border-style: inset;
    border-width: 1px;
    border-bottom-color: black;
}

.jazz_page_buybtn {
    float: right;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
