html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EDECD8;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

nav {
    font-weight: bold;
}

footer {
    background-color: #F8473E;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
}

    footer li {
        list-style: none;
        color: white;
        margin-right: 50px;
        width: 50px;
        font-weight: bold;
    }

    footer ul {
        display: inline-block;
        margin-left: 300px;
        padding: 0px;
    }

    footer a {
        color: white;
    }

.footer-list-right {
    width: 400px;
    height: 150px;
    margin: 0px 300px 0px 0px;
    display: inline-block;
    float: right;
    text-align: right;
}

    .footer-list-right li {
        width: inherit;
    }
/*-------------------------------------------Home page---------------------------------------------*/
/*--------------Sumup events-----------------*/

.event_summarys {
    width: auto;
    height: 370px;
}

.event_summary {
    width: 25%;
    height: 350px;
    float: left;
    display: inline-block;
    padding: 0px 8px 0px 0px;
    position: relative;
}

.event_summary:hover{
    opacity: 0.5;
    cursor: pointer;
}

    .event_summary h1 {
        color: white;
        font-size: 26px;
        height: 50px;
        background-color: #F8473E;
        text-align: center;
        line-height: 50px;
        margin-bottom: 0px;
    }

    .event_summary button {
        position: absolute;
        bottom: 1%;
        left: 37%;
        background-color: transparent;
        border: none;
        font-weight: bold;
        color: white;
    }
    
.event_summary_img {
    width: auto;
    text-align: center;
    height: 300px;
}
.wrapper{
    height: 424px;
    text-align: center;
}

.wrapper h1{
    font-size: 26px;
    font-weight: bold;

}
.wrapper_left{
    float: left;
    width: 50%;  
    height: inherit; 
    margin: 0px 4px 0px 0px;
 
}
/*--------------Info section-----------------*/

.info_festival {
    float: initial;
    width: auto;
    height: 50%;
}
/*--------------Register section-----------------*/
.register{
    float: left;
    width: 100%;
    height: 50%;
        
}

/*--------------Highlisghts section-----------------*/
.event_highlights{
    float: left;
    width: 49%;
    margin: 0px 0px 0px 4px;
    height: inherit;
}

.event_highlight{
    text-align:left;
    color: black;  
    padding-left: 15px; 
    font-size: 16px;
}

.event_highlight h2{
    font-size: 16px;
}

.event_hl_link_makeup{
    color: black;       
}

.event_highlight :hover{
    color: red;
}


/*-------------------------------------------Contact page---------------------------------------------*/

.contact_page_section {
    color: white;
}

.contact_info {
    float: left;
    background-color: #CC6666;
    padding: 20px;
}

.contact_section {
    background-color: #CC6666;
    padding: 0px;
    margin-left: 200px;
    height: 300px;
}

.contact_form_header {
    background-color: #F6524A;
    margin: 0px;
    padding: 10px;
}

.contact_page_section form {
    padding: 10px;
    padding-top: 0px;
}

.contact_info_header {
    margin-top: 0px;
}

.contact_required_text {
    float: right;
}
