@model HaarlemFestival.Model.PagePlusOrderPlusLogin

@{
    ViewBag.Title = "CheckOut3";
}
@{
    Layout = "_CheckOutLayout.cshtml";
}

<section class="CheckOut3">
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.OrderHasTickets);
    @Html.HiddenFor(m => m.CustomerId);
    @Html.EditorFor(m => m.PaymentMethod)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Continue to payment" class="btn btn-default" />
        </div>
    </div>
}
</section>