@model HaarlemFestival.Model.PagePlusOrderPlusLogin


@{
    ViewBag.Title = "CheckOut4";
}
@{
    Layout = "_CheckOutLayout.cshtml";
}

<section class="CheckOut4">
    er is betaald met @Model.Orders[0].PaymentMethod
</section>