@{
    ViewBag.Title = "CheckOut1";
}

<section class="CheckOut1">

    <ul>
        <li class="selected">Step 1<br>Login</li>
        <li>Step 2<br>Personal info/Register</li>
        <li>Step 3<br>Payment</li>
        <li>Step 4<br>Tickets</li>
    </ul>>

    <p>By signing up you get the ability to create your own Festival program which is displayed in your agenda.</p>

    <form class="CheckOutLogin">
        <h3>Login</h3>
        <p>Username:</p>
        <input type="text" />
        <p>Password:</p>
        <input type="text" />
        <button>Login</button>
    </form>

    <h2>OR</h2>

    <form class="CheckOutRegister">
        <h3>Continue without an account</h3>
        <button>Continue</button>
    </form>


</section>
