
@{
    ViewBag.Title = "Historic";
}

<section class="HistoricTitle">

    <h1>HISTORIC HAARLEM</h1>

    <h2>Walking through the ages</h2>

</section>

<section class="HistoricIntro">

    <p>
        The event Historic Haarlem is a great experience for first-time visitors to Haarlem and culture lovers.<br />
        You will visit the most famous historical buildings and monuments in the centre of Haarlem,<br />
        from the magnificent Church of St. Bavo to the beautiful Amsterdam Gate.<br />
        <br />
        The event will run from Thursday 26th to Saturday 28th of July and will be given in English, Dutch and Chinese.<br />
        The available timeslots are: 10:00, 13:00 and 16:00. One tour will take two and a half hour.
    </p>

    <button>Click here to book now!</button>
</section>

<section>

    <img class="HistoricImageTop" src="/img/Historic/TopImage1.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage2.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage3.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage4.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage5.jpg" alt="" />
    <img class="HistoricImageTop" src="/img/Historic/TopImage6.jpg" alt="" />

</section>

<section class="HistoricRoute">

    <h2>The Route & The Sights</h2>
    <hr />
    <p>
        The route that you will take through the centre of Haarlem will be a fun and adventurous route.
        You will begin at the Church of St. Bavo, and afterwards go to all the different venues numbered on the right. <br />
        <br />
        Every venue has a rich history, which will be told  extensively by tour guides in the languages: English, Dutch and Chinese.
    </p>

    <p>
        Venues to visit are: <br />
        1. Church of St. Bavo    6. Waalse Kerk Haarlem <br />
        2. Grote Markt               7. Molen de Adriaan<br />
        3. De Hallen                  8. Amsterdamse Poort<br />
        4. Proveniershof            9. Hof van Bakenes<br />
        5. Jopenkerk
    </p>
    <hr />
    <p>TO DO: INTERACTIVE MAP</p>

    <button>Book now!</button>

    <hr />
</section>