
@{
    ViewBag.Title = "Historic";
}

<h1>HISTORIC HAARLEM</h1>

<h2>Walking through the ages</h2>

<p>The event Historic Haarlem is a great experience for first-time visitors to Haarlem and culture lovers.<br />
You will visit the most famous historical buildings and monuments in the centre of Haarlem,<br />
from the magnificent Church of St. Bavo to the beautiful Amsterdam Gate.<br />
    <br />
The event will run from Thursday 26th to Saturday 28th of July and will be given in English, Dutch and Chinese.<br />
The available timeslots are: 10:00, 13:00 and 16:00. One tour will take two and a half hour.
</p>

<button>Click here to book now!</button>

