@model IEnumerable<HaarlemFestival.Model.Activity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>text from db</h1>
<aside class="filter">
    <h3>text from db</h3>
    <ul>
        <li class="filter_options"></li>
        <li class="filter_options"></li>
        <li class="filter_options"></li>
        <li class="filter_options"></li>
        <li class="filter_options"></li>
        <li class="filter_options"></li>
        <li class="filter_options"></li>
        <li class="filter_options"></li>
        <li class="filter_options"></li>
        <li class="filter_options"></li>
    </ul>
</aside>

<div class="restaurants">
    <div class="top_row">
        <div class="restaurant">
            <div class="restaurant_sum_description">
                <h4>text from db</h4>
                <label></label>
                <label></label>
                <label></label>
            </div>

            <div class="restaurant_img"></div>
            <button>text from db</button>
            <button>text from db</button>
        </div>
    </div>

    <div class="bottom_row">
        <div class="restaurant">
            <div class="restaurant_sum_description">
                <h4>text from db</h4>
                <label></label>
                <label></label>
                <label></label>
            </div>

            <div class="restaurant_img"></div>
            <button>text from db</button>
            <button>text fromd db</button>
        </div>
    </div>
</div>

<div class="dinner_description">
    <h2>text from db</h2>
    <p>text from db</p>
</div>
