
@{
    ViewBag.Title = "Contact";
}

<section class="contact_page_section">
    <h2 class="contact_header">TEXT DB</h2>
    <hr class="contact_separation_header">

    <section class="contact_info">
        <h3 class="contact_info_header">TEXT DB</h3>
        <p>TEXT DB <br />TEXT DB 7<br />TEXT DB</p>
        <h3 class="contact_info_header">TEXT DB</h3>
        <p>TEXT DB</p>
    </section>
        
    <section class="contact_section">
        <h3 class="contact_form_header">TEXT DB</h3>
        <form>
            <p class="contact_required_text">TEXT DB</p>
            <fieldset>
                <label class="contact_name_label">TEXT DB</label>
                <input class="contact_name_field" type="text" tabindex="1" required="required">
            </fieldset>
            <fieldset>
                <label class="contact_email_label">TEXT DB</label>
                <input class="contact_email_field" type="text" tabindex="2" required="required" />
            </fieldset>
            <fieldset class="contact_message_label">
                <label class="contact_message_label">TEXT DB</label>
                <textarea class="contact_message_field" tabindex="3" required="required"></textarea>
            </fieldset>
            <fieldset>
                <button name="send" type="submit" class="contact_submit_btn" tabindex="4">Send</button>
            </fieldset>
        </form>
    </section>
    

</section>